<%= form_for @image, :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :image_id %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.file_field :pictures %>
  </p>
  <p><%= f.submit %></p>
<% end %>
